// Variables

// Basic Colors
@black : #000;
@white : #fff;

// typography
@baseFontSize : 1.6rem;
@baseLineHeight : 1.6; // unitless for best practice

// font families
@sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif : "Georgia", "Times New Roman", Times, sans-serif;
@monospace : "Monaco", "Courier New", monospace;

// media query breakpoints
@tablet : ~"only screen and (min-width: 768px)";
@desktop : ~"only screen and (min-width: 1024px)";

// replace the following values
@body-bg : lighten( @black, 90% );
@body-color : @black;
@wrapper-bg : @white;

// hyperlinks
@link-color : #08c;
@linkhover-color: #0af;
