// GUIDE:
// Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this. (http://smacss.com/book/categorizing)

body {
	font-family: @baseFontFamily;
	font-size: 62.5%;
	line-height: @baseLineHeight;
	color: @baseFontColor;
}

a {
	color: @hyperlink;
	text-decoration: none;
	transition: all 0.3s ease-out;
	&:hover { color: @hyperlink-hover; }
}

p { margin: 0 0 1rem 0; }
pre { margin: 1rem 0; }

table tr:nth-child(even) {
	background: rgba(0,0,0,0.1);
}

// useful helper classes
.clearfix {
	.clearfix;
}
.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
